.home-container {
  padding: 20px;
}

.search-bar {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-bar input {
  flex: 1;
  padding: 8px;
  border-radius: 6px;
  border: none;
  background: #1e1e1e;
  color: white;
}

.search-bar button {
  background: #333;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.new-tweet-box {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.new-tweet-box textarea {
  width: 100%;
  background: #2a2a2a;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  resize: vertical;
  font-size: 14px;
}

.new-tweet-box .tweet-button {
  margin-top: 10px;
  background: #00acee;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.tweet-feed {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tweet-clickable {
    color: white;
    text-decoration: none;
}
.tweet-card {
  background: #1f1f1f;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px #111;
  color: white;
}

.tweet-card:hover {
  background-color: #3a3a3a;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.tweet-date {
  font-weight: normal;
  color: #aaa;
  font-size: 12px;
}

.tweet-content p {
  margin: 8px 0;
  font-size: 15px;
  line-height: 1.4;
}

.tweet-footer {
  display: flex;
  justify-content: flex-end;
  font-size: 13px;
  color: #ccc;
}
